@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300;1,500&display=swap');



* {
    margin: 0;
    padding: 0;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }


body {
  background-color:#F8F4E3;
  max-height: 110vw;
  max-width: 80VW;
  margin: auto;
  padding: 680px;
 }

h1 {
    font-size: 65px;
    color: #E63946;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

h2 {
    font-size: 100px;
    color: #0D1321;
    font-family: 'Abril Fatface', cursive;
    text-align: left;
}

h3 {
    font-size: 55px;
    color: #0D1321;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

p {
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.demopara {
    line-height: 2 ;
  }

.nav {
  display: flex;
  list-style-type: disc;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #c2878f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
/* a {
  text-decoration: none;
  font-size: 70px;
  display: block;
  padding: 2rem;
  
} */

nav ul {
  list-style: none;
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li a { 
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  line-height: 70px;
  font-size: 106px;
}