@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f4e3;
}

h1 {
  font-size: 65px;
  color: #e63946;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

h2 {
  font-size: 100px;
  color: #0d1321;
  font-family: "Abril Fatface", cursive;
  text-align: left;
}

h3 {
  font-size: 55px;
  color: #0d1321;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

p {
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.demopara {
  line-height: 2;
}

.nav {
  display: flex;
  list-style-type: disc;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #c2878f;
  z-index: 10;
  background-color:  transparent;
}

nav ul {
  list-style: none;
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #0d1321;
  padding: 12px 30px;
  text-decoration: none;
  line-height: 70px;
  font-size: 60px;
}

ul li a {
  font-size: 60px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #495159;
  padding: 0px;
  height: 100vh;
}

#skills {
  font-size: 60px;
  margin: auto;
  text-align: right;
}

div.biggerbio {
  text-align: left;
}
.welcome-section {
  padding: 680px;
  height: 100vh;
}

