@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    background-color:#F8F4E3;
    max-width: 90VW;
    margin: auto
 }

h1 {
    font-size: 100px;
    color: #0D1321: 
}

h2 {
    font-size: 75px;
    color: #E63946
}

p {
    font-size: 45px;
    font-family: Poiret One;
}